
}*/
/*envios*/
/*.intro {
    display: block;
    position:relative;
    top: 30px;
    left: 250px;
    height: 15px;
    width: 800px;
    text-align: center;
}
.medios {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    line-height: 20px;
    color: white;
    display: inline-block;
    position: relative;
    top: 150px;
    left: 520px;
    text-align: center;
    background-color: rgb(194, 178, 210);
    border-radius: 6px;
}*/

@mediafdafdsafdsafdsafdsafdsafdsafdasfdsaf 1 telefono



/*envios*/
.contenidoE {
    grid-area: contenidoE;
}
.contenidoEA {
    grid-area: contenidoEA;
}
.intro {
    grid-area: intro;
}
.medios {
    grid-area: medios;
}
.intro, .medios {
    font-family: 'Dongle', sans-serif;
    display: inline-flex;
}
.intro {
    display: inline-flex;
    width: 300px;
    position: absolute;
    top: 250px;
    left: 30px;
    color: white;
    font-size: 25px;
    line-height: 15px;
}
.medios {
    position: absolute;
    top: 350px;
    line-height: 20px;
    left: 80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 30px;
    line-height: 15px;
}
.pagE .pieA {
    position: absolute;
    width: 100%;
    top: 630px;
    font-size: 15px;
    height: 4rem;
}
.pagE .pieA div {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.pagE .pieA div .derechos {
    text-align: center;
    font-size: 15px;
}

